.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* default overrides */
p {
  color: black;
}

/* utility classes */
.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-background {
  background-color: #f9f9f9;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-inner {
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.App-header-inner .Item1 {
  width: 100px;
}

.App-header-inner .Item2 {
  width: 100px;
}

.Logo-main {
  width: 40%;
}

.Icon-main {
  width: 25px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

/* generic card classes */
.cardContainer {
  background-color: bisque;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* category cards */
.categoryCardContainer {
  width: 25%;
  max-width: 25%;
  background-color: pink;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
